<h1>Map my route!</h1>
<form action='/map' method="POST">


<label for="start" name="start">Start:</label>
<select id="start" name="start">
	<% @data.each do |hash| %>
	<option value="[<%=hash["lat"]/1000000.to_f %>, <%=hash["lng"]/1000000.to_f %>]">
		<%=hash["name"] %>
		<br/>
		</option>
		<% end %>
</select>

<br/> 

<label for=end name="end">End:</label>
<select id="end" name="end">
	<% @data.each do |hash| %>
	<option value="[<%=hash["lat"]/1000000.to_f %>, <%=hash["lng"]/1000000.to_f %>]">
		<%=hash["name"] %>
		<br/>
		</option>
		<% end %>	
</select>

<br/>

<button type="submit" value="Submit">Submit</button>	

</form>

